
.img-kitten{
  float:
}
.titles-day {
  background: linear-gradient( to right, rgba(81, 186, 214, 0.5), rgba(116, 224, 188, 0.5), rgba(219, 150, 210, 0.76));
  text-align: center;
}

section.day {
  background-image: url("../assets/img/sunny-day.jpg");
  background-size: cover;
  background-position: center;
  content: " ";
  height: 100vh;
  display: auto;
}

section.dawn {
  background-image: url("../assets/img/dawn.png");
  background-size: cover;
  background-position: center;
  content: " ";
  height: 100vh;
  display: auto;
}

section.nigth {
  background-image: url("../assets/img/night.jpg");
  background-size: cover;
  background-position: center;
  content: " ";
  height: 100vh;
  display: auto;
}
/*day*/
@media (max-width:468px) {
  .hide-on-desktop {
    display: none;
  }
  .hide-on-mobile {
    display: none;
  }
  .hide-on-tablet {
    display: block;
  }
/*dawn*/
@media (min-width:768px) {
  .hide-on-desktop {
    display: none;
  }
  .hide-on-mobile {
    display: block;
  }
  .hide-on-tablet {
    display: none;
  }
/*nigth*/
@media (min-width:800px) {
  .hide-on-desktop {
    display: block;
  }
  .hide-on-mobile {
    display: none;
  }
  .hide-on-tablet {
    display: none;
  }
