
/*day*/
@media (min-width:1024px) {
  section.day {
    background-image: url("../assets/img/kitten-medium.png"), url("../assets/img/sunny-day.jpg") ;
    background-size: auto ,cover;
    background-position: center bottom, center;
    background-repeat: no-repeat;
    content: " ";
    height: 100vh;
    
  }

}
/*dawn*/
@media (min-width:468px) and (max-width:1024px) {
  section.dawn {
    background-image: url("../assets/img/kitten-large.png"),url("../assets/img/dawn.png");
    background-size: auto ,cover;
    background-position: center bottom, center;
    background-repeat: no-repeat;
    content: " ";
    height: 100vh;

  }


}
/*nigth*/
@media all and (max-width:468px) {
  section.nigth {
    background-image: url("../assets/img/kitten-small.png") , url("../assets/img/night.jpg");
    background-size: auto ,cover;
    background-position: center bottom, center;
    background-repeat: no-repeat;
    content: " ";
    height: 100vh;

  }
}
